.home-list-news {
  position: relative;
  padding-bottom: 65px;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    right: 0;
    bottom: 0;
    background: $primary;
    opacity: 0.1;
    z-index: -1;
  }
  .list {
    margin: 175px 0 100px;

    @include media-down(sm) {
      margin: 0;
    }

    .col-xl-4 {
      padding: 15px ;

      &:not(:first-child) {
        @include media-down(sm) {
          display: none;
        }
      }
    }
    &-item {
      width: 100%;
    }
    &-pic {
      height: 320px;
    }
  }
}

.border-title {
  position: relative;
  color: $primary;
  border-bottom: 1px solid $primary;
  padding: 110px 0 30px;
  font-size: 54px;
  z-index: 100;
}