.btn{
  font-size: 24px;
  font-weight: 700;
  background: $primary;
  border-radius: 5px;
  padding: 10px 20px;
  border: 2px solid $primary;
  color: $white;

  &-outline{
    background: transparent;
    color: $primary;

    &:hover{
      background: $primary !important;
      color: $white !important;
    }
  }

  &:hover{
    background: transparent;
    color: $primary;
  }

  &-big{
    padding: 20px 117px;
  }
  &-sm{
    font-size: 16px;
    padding: 0 10px;
  }

  &-icon{
    background: transparent;
    border-radius: 10px;
    &:hover{
      background: $white;
      color: $white;
    }
  }

  &.disabled{
    background-color: $white;
    border-color: $gray-300;
    pointer-events: none;
    color: $gray-300;
  }

  &-right{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  &-left{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  &-input{
    width: 50px;
    border-radius:0;
    border: 2px solid $primary;
  }
}
