@import "~@/assets/scss/_functions.scss";
@import "~@/assets/scss/_variables.scss";
@import "~@/assets/scss/mixins/_breakpoints.scss";

.product-details {
  &-pic {
    height: 500px;

    @include media-down(sm) {
      height: auto;
    }
  }

  &-price {
    display: flex;
    span {
      line-height: 30px;
    }
  }
  &-count {
    display: flex;
    width: 20%;
  }

  &-content {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 3px solid $primary;

    h1 {
      font-size: 48px;
    }
  }
}