@import "~@/assets/scss/_functions.scss";
@import "~@/assets/scss/_variables.scss";
@import "~@/assets/scss/mixins/_breakpoints.scss";

div:focus {
  outline: none;
}
.slick-prev:before,
.slick-next:before {
  color: $primary;
}
.slick-prev{
  left: -25px;
}
.slick-next{
  right: -25px;
}
.carousel-item {
  .btn {
    color: #E1E1E1;
    border: 2px solid #E1E1E1;

    &.active{
      color: $primary;
      border: 2px solid $primary;
    }
    @include media-down(sm) {
      font-size: 16px;
      font-weight: normal;
      padding: 10px;
    }
  }
}