.banner-block {
  position: relative;
  height: 78vh;

 @include media-down(lg) {
    height: 90vh;
  }
  @include media-down(md) {
    height: 90vh;
  }
  @include media-down(sm) {
    height: 100vh;
  }
  @at-root .banner {
    z-index: -1;
    position: absolute;
    background: url("~@/assets/images/banner.png") no-repeat center center;
    background-size: cover;
    top: -200px;
    bottom: 100px;
    right: 0;
    left: 170px;

    @include media-down(lg) {
      left: 100px;
    }

    @include media-down(sm) {
      bottom: 0px;
      left: 50px;
    }

    &-text {
      position: absolute;
      color: $white;
      font-size: 80px;
      @include media-down(sm) {
        display: none;
      }

      &:nth-of-type(1) {
        top: 32%;
        left: 21%;
      }
      &:nth-of-type(2) {
        top: 45%;
        left: 21%;
      }
    }
  }
}

.carousel {
  &-side {
    width: 170px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;

    @include media-down(lg) {
      margin-top: 100px;
      width: 100px;
    }
    @include media-down(sm) {
      margin-top: 0;
      width: 50px;
      height: inherit;
    }

    &-text {
      width: 20px;
      display: inline-block;
      word-wrap: break-word;
    }
  }
}

.banner-bottom {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  width: calc(100% - 565px);
  height: 100px;
  line-height: 100px;

  @include media-down(lg) {
    width: calc(100% - 200px);
  }
  @include media-down(sm) {
    position: absolute;
    bottom: 0;
  }

  &-box {
    width: 170px;
    color: $white;
    text-align: center;
    background: $primary;
    @include media-down(lg) {
      color: $primary;
      width: 100px;
    }
    @include media-down(sm) {
      display: none;
    }
  }
  &-line {
    position: relative;
    @include media-down(sm) {
      display: none;
    }
    &::before {
      z-index: -1;
      content: "";
      width: 200px;
      height: 1px;
      position: absolute;
      bottom: 10px;
      left: -215px;
      border-bottom: 1px solid $primary;
    }
  }

  &-more {
    position: absolute;
    width: 565px;
    background: $primary;
    right: -565px;
    height: 200px;
    bottom: 0;
    line-height: 200px;
    color: $white;
    cursor: pointer;

    @include media-down(lg) {
      width: 200px;
      display: flex;
      right: -200px;
    }

    @include media-down(sm) {
      line-height: 100px;
      height: 100px;
      right: 0;
      left: 0;
    }

    a {
      @include media-down(lg) {
        display: none;
      }
    }

    span {
      margin-left: 50px;
    }
    &-click {
      @include media-down(lg) {
        margin: 0 auto;
      }

      a:hover {
        color: $white !important;
      }
    }
  }
}