div:focus {
  outline: none;
}

.slick-prev::before,
.slick-next::before {
  font-size: 40px;
  color: $primary;

  @include media-down(sm) {
    font-size: 20px;
  }
}

.slick-prev,
.slick-next {
  z-index: 100;
}

.slick-prev {
  @include media-down(sm) {
    left: -10px;
  }
}

.slick-next {
  right: -5px;

  @include media-down(sm) {
    right: -10px;
  }
}
