div:focus {
  outline: none;
}

.slick-prev::before,
.slick-next::before {
  font-size: 44px;
  color: $primary;
}

.slick-prev,
.slick-next {
  z-index: 100;
}

.slick-prev {
  @include media-down(sm) {
    left: -6px;
  }
}

.slick-next {
  right: -5px;

  @include media-down(sm) {
    right: 18px;
  }
}
